:root {
	--background: #0F1219;
	--rgb-background: 15, 18, 25;
	--font: #ffffff;
	--rgb-font: 255, 255, 255;
	--accent: #2337ff;		
}
@font-face {
	font-family: "Atkinson";
	src: url("/apascualco-site/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson";
	src: url("/apascualco-site/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: "Atkinson", sans-serif;
	background-color: #1c1c1c;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

.rounded-full {
    border-radius: 9999px;
}