:root {
	--background: #0F1219;
	--rgb-background: 15, 18, 25;
	--font: #ffffff;
	--rgb-font: 255, 255, 255;
	--accent: #2337ff;		
}
@font-face {
	font-family: "Atkinson";
	src: url("/apascualco-site/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson";
	src: url("/apascualco-site/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
	background-color: #393939;
	width: min(90%, 880px);
    margin: auto;
	height: 100%;
}
main {
	flex: 1;
}

.rounded-full {
    border-radius: 9999px;
}