:root {
	--font-color-normal: #94a3b8;
	--font-color-highlight: #e2e8f0;
	--background: #0f172a;
	--background-highlight: #1e293b;
	--background-hover: #334155;
	--border-color: #475569;
	--box-shadow: rgba(0, 0, 0, 0.4);
}

html[data-theme="light"] {
	--font-color-normal: #475569;
	--font-color-highlight: #1e293b;
	--background: #f8fafc;
	--background-highlight: #ffffff;
	--background-hover: #e2e8f0;
	--border-color: #cbd5e1;
	--box-shadow: rgba(0, 0, 0, 0.1);
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
	background-color: var(--background);
	width: min(90%, 1021px);
    margin: auto;
	height: 100%;
	color:  var(--font-color-normal);
}
main {
	flex: 1;
}

.rounded-full {
    border-radius: 9999px;
}

/* MD formar for post */
.prose p img {
	display: block;
	margin: 1rem auto;
}