---
import { Image } from "astro:assets";
import { SITE_TITLE } from "../consts";
import avatar from "../assets/header/photo-60.webp";
---

<header>
  <nav>
    <h2><a href="/apascualco-site">{SITE_TITLE}</a></h2>
    <Image
      width={60}
      height={60}
      src={avatar}
      alt="Alberto Pascual Corpas"
      class="avatar rounded-full"
    />
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    box-shadow: 0 4px 6px -4px rgba(var(--rgb-font), 0.05);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  .avatar {
    background-color: var(--font);
    padding: 2px;
    display: inline-block;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(90%, 1280px);
    margin: auto;
    padding: 1em 0.5em;
  }
  nav a {
    color: var(--font);
  }
</style>
